
.search-bar {
  margin-top: 12px;
  margin-left: 15vw;
  margin-right: 15vw;
  height: 60px;
  display: 'flex';
  align-items: 'center';
  /* max-width: 500px; */
  width: 70vw;
}
.search-icon {
  float: right;
  margin-right: 25px;
  margin-top: 18px;
  margin-bottom: 15px;
  /* color: indigo; */
}
.search-input{
  height: 100%;
  width: 80%;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card {
  margin-top: 10px;
  margin-left: 10vw;
  margin-right: 10vw;
  width: 80vw;
  padding: 2%;
  display: flex;
  align: horizontal;
  /* display: inline; */
}
.tick {
  margin: 8px;
  margin-top: auto;
  margin-bottom: auto;
}
/* .price {
  float: right;
} */

.toast{
  /* margin-left: 5vw;
  margin-right: 5vw; */
  background: black;
}

.fab {
    margin: 0px;
    top: 80vh;
    left: 80vw;
    position: sticky;
};
.f {
  position: sticky;
}
.stock-wrapper{
  display: inline-block;
}

.click-icon {
  cursor: pointer;
}

.column {
  float: left;
  margin-top: 26px;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
.hide-icon{
  visibility: hidden;
}
.drop-icon {
  width: 10%;
  margin-top: 24px;
}
.ticker{
  width: 45%;
  font-weight: 1px;
  font-size: 18px;
}
.price{
  width: 17%;
}
.change{
  align-content: center;
  width: 15%;
}
.row{
  /* max-width: 500px;
  margin-left: 5vw;
  margin-right: 5vw;*/
  padding-left: 5%; 
  /* padding-right: 40px; */
  /* height: 60px; */
}
.row-wrapper{
  margin-left: 15vw;
  margin-right: 15vw;
  width: 70vw;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.good {
  color: green;
}
.bad {
  color: red;
}


.expand-content{
  padding: 5%;
}
.dropdown-button{
  margin: 20px;
}


/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
