
.search-bar {
  margin-top: 12px;
  margin-left: 5vw;
  margin-right: 5vw;
  height: 50px;
  display: 'flex';
  align-items: 'center';
  max-width: 500px;
  /* width: 80vw; */
}
.search-icon {
  float: right;
  margin-right: 25px;
  margin-top: 12px;
  margin-bottom: 10px;
  /* color: indigo; */
}
.search-input{
  height: 100%;
  width: 80%;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card {
  margin-top: 10px;
  margin-left: 5vw;
  margin-right: 5vw;
  padding: 2%;
  display: flex;
  align: horizontal;
  /* display: inline; */
}
.tick {
  margin: 8px;
  margin-top: auto;
  margin-bottom: auto;
}
/* .price {
  float: right;
} */

.toast{
  /* margin-left: 5vw;
  margin-right: 5vw; */
  background: black;
}

.fab {
    margin: 0px;
    top: 80vh;
    /* right: 0px;
    bottom: 0px; */
    left: 80vw;
    position: fixed;
};
.stock-wrapper{
  display: inline-block;
}

.click-icon {
  cursor: pointer;
}

.column {
  float: left;
  margin-top: 26px;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
.hide-icon{
  visibility: hidden;
}
.drop-icon {
  width: 30%;
  padding-right: 10px;
}
.ticker{
  width: 20%;
  font-weight: 1px;
}
.price{
  width: 20%;
}
.change{
  padding-left: 15px;
  align-content: center;
  width: 40%;
}
.row{
  /* max-width: 500px;
  margin-left: 5vw;
  margin-right: 5vw;*/
  padding-left: 5%; 
  /* padding-right: 40px; */
  /* height: 60px; */
}
.row-wrapper{
  margin-left: 5vw;
  margin-right: 5vw;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.good {
  color: green;
}
.bad {
  color: red;
}


.expand-content{
  padding: 5%;
}
.remove-button{
  
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
