
.search-bar {
  margin: 10px;
  height: 50px;
  display: 'flex';
  align-items: 'center';
  /* width: 80vw; */
}
.search-icon {
  float: right;
  margin-right: 25px;
  margin-top: 12px;
  margin-bottom: 10px;
  color: indigo;
}
.search-input{
  height: 100%;
  width: 80%;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
